.mytrips-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mytrips-image {
  height: 75px;
  width: 63px;
}
.mytrips-heading {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #191919;
}
.mytrips-paragraph {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #191919;
}
.mytrips-button {
  width: 134px;
  height: 32px;
  border-radius: 6px;
  padding: 6px 12px 6px 12px;
  background-color: #2563eb;
  border: 0px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .mytrips-container {
    display: none;
  }
  .mytrips-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .mytrips-image {
    height: 75px;
    width: 63px;
  }
  .mytrips-heading {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #191919;
  }
  .mytrips-paragraph {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #191919;
  }
  .mytrips-button {
    width: 134px;
    height: 32px;
    border-radius: 6px;
    padding: 6px 12px 6px 12px;
    background-color: #2563eb;
    border: 0px;
    color: #ffffff;
  }
}
