.confirmation-cancel-button {
  font-family: 'Roboto';
  width: 82px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  color: #2563eb;
  border-radius: 6px;
  padding: 6px 12px 6px 12px;
  background-color: #dbeafe;
  border: 0px;
  margin-right: 20px;
}
.Confirmation-form-container {
  background-color: #ffffff;
  height: 434px;
  width: 409px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.confirmation-confirm-button {
  font-family: 'Roboto';
  width: 78px;
  height: 32px;
  border-radius: 6px;
  padding: 6px 12px 6px 12px;
  background-color: #2563eb;
  color: #f1f5f9;
  border: 0px;
}
.confiramtion-headings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.confirmation-button-container {
  display: flex;
  justify-content: flex-end;
}
.mobileView-confirmation-container {
  margin-left: 10px;
}
.cnofirmation-details {
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 312px;
  margin-bottom: 15px;
  justify-content: space-evenly;
}
.confirmation-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  color: #334155;
}
.confirmation-paragraph {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #5c6777;
}
.confiramtion-name {
  margin: 0px;
  margin-bottom: 10px;
  display: flex;
}
.confiramtion-startLocation {
  margin: 0px;
  margin-bottom: 10px;
  display: flex;
}
.confiramtion-endLocation {
  margin: 0px;
  margin-bottom: 10px;
  display: flex;
}
.confiramtion-startDate {
  margin: 0px;
  margin-bottom: 10px;
  display: flex;
}
.confiramtion-endDate {
  margin: 0px;
  margin-bottom: 10px;
  display: flex;
}
.confiramtion-guests {
  margin: 0px;
  margin-bottom: 10px;
  display: flex;
}
.confiramtion-travel {
  margin: 0px;
  margin-bottom: 10px;
  display: flex;
}
.name-element {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  color: #334155;
  margin: 0px 0px 10px 0px;
}
.name-value {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #475569;
  padding-left: 100px;
  margin: 0px 0px 10px 0px;
}
.startLocation-value {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #475569;
  padding-left: 45px;
  margin: 0px 0px 10px 0px;
}
.endLocation-value {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #475569;
  padding-left: 52px;
  margin: 0px 0px 10px 0px;
}
.startDate-value {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #475569;
  padding-left: 75px;
  margin: 0px 0px 10px 0px;
}
.endDate-value {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #475569;
  padding-left: 82px;
  margin: 0px 0px 10px 0px;
}
.guest-value {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #475569;
  padding-left: 95px;
  margin: 0px 0px 10px 0px;
}
.travel-value {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #475569;
  padding-left: 20px;
  margin: 0px 0px 10px 0px;
}

@media screen and (min-width: 768px) {
  .sm-mobileView-confirmation-container {
    display: none;
  }
  .confirmation-cancel-button {
    font-family: 'Roboto';
    width: 82px;
    height: 32px;
    font-weight: 500;
    font-size: 14px;
    color: #2563eb;
    border-radius: 6px;
    padding: 6px 12px 6px 12px;
    background-color: #dbeafe;
    border: 0px;
    margin-right: 20px;
  }
  .confirmation-confirm-button {
    font-family: 'Roboto';
    width: 78px;
    height: 32px;
    border-radius: 6px;
    padding: 6px 12px 6px 12px;
    background-color: #2563eb;
    color: #f1f5f9;
    border: 0px;
  }
  .confirmation-button-container {
    display: flex;
    justify-content: flex-end;
  }
  .mobileView-confirmation-container {
    margin-left: 10px;
  }
  .cnofirmation-details {
    display: flex;
    flex-direction: column;
    width: 328px;
    height: 312px;
    margin-bottom: 15px;
    justify-content: space-evenly;
  }
  .confirmation-heading {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 600;
    color: #334155;
  }
  .confirmation-paragraph {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #f1f5f9;
  }
  .confiramtion-name {
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
  }
  .confiramtion-startLocation {
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
  }
  .confiramtion-endLocation {
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
  }
  .confiramtion-startDate {
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
  }
  .confiramtion-endDate {
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
  }
  .confiramtion-guests {
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
  }
  .confiramtion-travel {
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
  }
  .name-element {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: #334155;
    margin: 0px 0px 10px 0px;
  }
  .name-value {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #475569;
    padding-left: 100px;
    margin: 0px 0px 10px 0px;
  }
  .startLocation-value {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #475569;
    padding-left: 45px;
    margin: 0px 0px 10px 0px;
  }
  .endLocation-value {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #475569;
    padding-left: 52px;
    margin: 0px 0px 10px 0px;
  }
  .startDate-value {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #475569;
    padding-left: 75px;
    margin: 0px 0px 10px 0px;
  }
  .endDate-value {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #475569;
    padding-left: 82px;
    margin: 0px 0px 10px 0px;
  }
  .guest-value {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #475569;
    padding-left: 95px;
    margin: 0px 0px 10px 0px;
  }
  .travel-value {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #475569;
    padding-left: 20px;
    margin: 0px 0px 10px 0px;
  }
  .Confirmation-form-container {
    background-color: #ffffff;
    height: 434px;
    width: 409px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .confiramtion-headings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 767px;
    align-items: center;
  }
  .confirmation-heading {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    color: #f1f5f9;
  }
}
