@media (min-width: 768px) {
  .Travel-trip-logo {
    font-family: Caveat;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
  }

  .Home-name {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
  }

  .my-trips {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
  }

  .logout-button {
    width: 103px;
    height: 48px;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    border-radius: 8px 8px 8px 8px;
    background-color: #ffffff;
    color: #1e293b;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto';
    display: flex;
  }

  .nav-container {
    height: 93px;
    background: #304766;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .list-item {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
}
