@media screen and (min-width: 768px) {
  .login-form {
    width: 485px;
    height: 504px;
    box-shadow: 0px 20px 25px 0px #0f172a1a;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .eye-button {
    height: 20px;
    width: 20px;
    border: 0px;
    background-color: transparent;
  }

  .login-button-container {
    text-align: center;
  }
  .login-username-label {
    font-weight: 500;
    font-size: 14px;
    font-family: Inter;
    color: #334155;
  }
  .login-password-label {
    font-weight: 500;
    font-size: 14px;
    font-family: Inter;
    color: #334155;
  }

  .login-username-input {
    width: 352px;
    height: 38px;
    border-radius: 8px;
    padding: 8px 8px 8px 12px;
    border: 1px #64748b solid;
    background-color: #ffffff;
    margin-top: 10px;
  }
  .login-error-msg {
    color: #ef4444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'DM Sans';
  }
  .login-password-input {
    width: 352px;
    height: 38px;
    border-radius: 8px;
    padding: 8px 8px 8px 12px;
    border: 1px #64748b solid;
    background-color: #ffffff;
    margin-top: 10px;
  }
  .login-travel-trip-logo {
    font-family: Caveat;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #334155;
    opacity: 0px;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-submit-button {
    font-size: 20px;
    padding: 12px 24px 12px 24px;
    border-radius: 8px;
    background-color: #304766;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
  }
  /* .login-password-container {
    margin-left: 20px;
  } */
}

@media screen and (max-width: 767px) {
  .login-button-container {
    text-align: center;
  }
  .login-username-container {
    margin-left: 20px;
  }
  .login-password-container {
    margin-left: 20px;
  }
  .login-travel-trip-logo {
    color: #334155;
    font-family: Caveat;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
  .login-username-label {
    font-weight: 500;
    font-size: 14px;
    font-family: Inter;
    color: #334155;
  }
  .login-password-label {
    font-weight: 500;
    font-size: 14px;
    font-family: Inter;
    color: #334155;
  }

  .login-username-input {
    width: 272px;
    height: 38px;
    border-radius: 8px;
    padding: 8px 8px 8px 12px;
    border: 1px #64748b solid;
    background-color: #ffffff;
    margin-top: 10px;
  }
  .login-error-msg {
    color: #ef4444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'DM Sans';
  }
  .login-password-input {
    width: 272px;
    height: 38px;
    border-radius: 8px;
    padding: 8px 8px 8px 12px;
    border: 1px #64748b solid;
    background-color: #ffffff;
    margin-top: 10px;
  }
  .login-submit-button {
    font-size: 20px;
    padding: 12px 24px 12px 24px;
    border-radius: 8px;
    background-color: #304766;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
  }
  .eye-button {
    height: 20px;
    width: 20px;
    border: 0px;
    background-color: transparent;
  }
}
